# --- Python Base ---
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv
env/
build/
dist/
*.egg-info/

# --- Project Specific Data ---
# Keeping your database locally or on S3, not on GitHub
*.csv
# Keeping generated plots out of Git to avoid clutter
plots/
*.png

# --- Editor & OS Trash ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.manifest
*.spec

# --- Tool Specific ---
.streamlit/
.ipynb_checkpoints
.cache
.pytest_cache/
.ruff_cache/
.mypy_cache/

# --- Environment Variables (Security) ---
.env
.envrc

*.json
!gold_tax.json